Pillow>=4.2.1
matplotlib
numpy>=1.11.0
jupyter
jupyterlab
pytest>=3.2.2
docopt
pyyaml
grpcio==1.11.0
pandas
pyvirtualdisplay
tensorflow==1.7.1
protobuf==3.5.2
scipy
ipykernel
seaborn
cffi
gym
atari-py
box2d-py
box2d-kengz
torch==1.2.0
torchvision==0.4.0
wget
mlagents
unityagents
JSAnimation